USE [LMS_DB]
GO
/****** Object:  Table [dbo].[TBL_COURSE]    Script Date: 03/19/18 1:08:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_COURSE](
	[COURSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_NAME] [nvarchar](500) NOT NULL,
	[COURSE_DESCRIPTION] [nvarchar](500) NOT NULL,
	[COURSE_LEARNINGFILE] [varbinary](max) NULL,
	[COURSE_CATEGORY_ID] [int] NULL,
	[COURSE_OUTCOME] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[COURSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_COURSE_CATEGORY]    Script Date: 03/19/18 1:08:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COURSE_CATEGORY](
	[COURSE_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE_CATEGORY_NAME] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_COURSE_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[COURSE_CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_EMPLOYEE]    Script Date: 03/19/18 1:08:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EMPLOYEE](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_FNAME] [nvarchar](500) NOT NULL,
	[EMP_MNAME] [nvarchar](500) NOT NULL,
	[EMP_LNAME] [nvarchar](500) NOT NULL,
	[EMP_AGE] [numeric](18, 0) NOT NULL,
	[EMP_CONTACTNUMBER] [nvarchar](500) NULL,
	[EMP_ADDRESS] [nvarchar](500) NOT NULL,
	[EMP_EMAIL_ADDRESS] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_EMPID] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_EMPLOYEE_COURSE_ENROLMENT]    Script Date: 03/19/18 1:08:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EMPLOYEE_COURSE_ENROLMENT](
	[EMP_C_E_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_C_E_DATEOFENROLMENT] [datetime] NOT NULL,
	[EMP_C_E_DATEOFCOMPLETION] [datetime] NOT NULL,
	[EMP_C_E_COURSECOMPLETED] [numeric](18, 0) NOT NULL,
	[EMP_ID] [int] NULL,
	[COURSE_ID] [int] NULL,
 CONSTRAINT [PK_EMPLOYEECOURSEENROLMENT] PRIMARY KEY CLUSTERED 
(
	[EMP_C_E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_LOG]    Script Date: 03/19/18 1:08:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOG](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERS_ID] [int] NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_USERS]    Script Date: 03/19/18 1:08:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USERS](
	[USERS_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERS_USERNAME] [nvarchar](500) NOT NULL,
	[USERS_PASSWORD] [nvarchar](500) NOT NULL,
	[EMP_ID] [int] NULL,
 CONSTRAINT [PK_USERSID] PRIMARY KEY CLUSTERED 
(
	[USERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TBL_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_COURSE_COURSE_CATEGORY_ID] FOREIGN KEY([COURSE_CATEGORY_ID])
REFERENCES [dbo].[TBL_COURSE_CATEGORY] ([COURSE_CATEGORY_ID])
GO
ALTER TABLE [dbo].[TBL_COURSE] CHECK CONSTRAINT [FK_TBL_COURSE_COURSE_CATEGORY_ID]
GO
ALTER TABLE [dbo].[TBL_EMPLOYEE_COURSE_ENROLMENT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_EMPLOYEE_COURSE_ENROLMENT_EMP_ID] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[TBL_EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[TBL_EMPLOYEE_COURSE_ENROLMENT] CHECK CONSTRAINT [FK_TBL_EMPLOYEE_COURSE_ENROLMENT_EMP_ID]
GO
ALTER TABLE [dbo].[TBL_EMPLOYEE_COURSE_ENROLMENT]  WITH CHECK ADD  CONSTRAINT [FK1_TBL_EMPLOYEE_COURSE_ENROLMENT_COURSES_ID] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[TBL_COURSE] ([COURSE_ID])
GO
ALTER TABLE [dbo].[TBL_EMPLOYEE_COURSE_ENROLMENT] CHECK CONSTRAINT [FK1_TBL_EMPLOYEE_COURSE_ENROLMENT_COURSES_ID]
GO
ALTER TABLE [dbo].[TBL_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_LOG_USERS_ID] FOREIGN KEY([USERS_ID])
REFERENCES [dbo].[TBL_USERS] ([USERS_ID])
GO
ALTER TABLE [dbo].[TBL_LOG] CHECK CONSTRAINT [FK_TBL_LOG_USERS_ID]
GO
ALTER TABLE [dbo].[TBL_USERS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_USERS_EMP_ID] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[TBL_EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[TBL_USERS] CHECK CONSTRAINT [FK_TBL_USERS_EMP_ID]
GO
