USE [ERP]
GO
/****** Object:  Trigger [dbo].[TRAINING_COMPETENCY_UPDATE]    Script Date: 4/11/2018 3:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TRAINING_COMPETENCY_UPDATE] ON [dbo].[TBL_TRAINING_DEV_EMPLOYEE] AFTER INSERT
AS 
DECLARE @PApply nvarchar(128),@PTrain nvarchar(128)
SET @PApply=(SELECT TOP 1 [TRAININGDEV_ID] FROM [TBL_TRAINING_DEV_EMPLOYEE] ORDER BY [TRAININGDEV_ID] DESC)
SET @PTrain=(SELECT TOP 1 [COURSE_ID] FROM [TBL_TRAINING_DEV_EMPLOYEE] ORDER BY [TRAININGDEV_ID] DESC)
IF ((SELECT TRIGGER_NESTLEVEL()) < 2)
BEGIN
	INSERT INTO TBL_COMPETENCY_STATUS([COMPETENCY_STATUS_EMP_ID],[COMPETENCY_STATUS_COMPETENCY_ID],
	[COMPETENCY_STATUS_COMPETENCY_SCORE]) 
	
	SELECT [TBL_TRAINING_DEV_EMPLOYEE].EMP_ID, TBL_COMPETENCY.COMPETENCY_ID, 
	TBL_TRAINING_COMPETENCY.COMPETENCY_LEVEL
	FROM   [TBL_TRAINING_DEV_EMPLOYEE] INNER JOIN
	TBL_TRAINING_COURSE ON TBL_TRAINING_DEV_EMPLOYEE.COURSE_ID = TBL_TRAINING_COURSE.COURSE_ID INNER JOIN
	TBL_TRAINING_COMPETENCY ON TBL_TRAINING_COURSE.COURSE_ID = TBL_TRAINING_COMPETENCY.COURSE_ID INNER JOIN
	TBL_COMPETENCY ON TBL_TRAINING_COMPETENCY.COMPETENCY_ID = TBL_COMPETENCY.COMPETENCY_ID
	WHERE @PApply= [TBL_TRAINING_DEV_EMPLOYEE].[TRAININGDEV_ID] AND NOT EXISTS 
	(SELECT [COMPETENCY_STATUS_EMP_ID],[COMPETENCY_STATUS_COMPETENCY_ID],
	[COMPETENCY_STATUS_COMPETENCY_SCORE] FROM TBL_COMPETENCY_STATUS)

END
